/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* Clear fix */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{zoom:1}*:first-child+html .clearfix{zoom:1}

/* Foundation */
.block{display: block}
.inline-block, .clearfix{display: inline-block}
.margin-auto {margin: 0px auto}
.fleft {float:left}
.fright {float:right}
a{color:black; text-decoration: none}
a:hover{text-decoration: underline}



/*STRUCTURE*/
body{width:100%;background-color: #000;font-family: avenir;font-size: 16px;color:#fff; }


/*.bkg{width:100%;position:absolute;bottom:0px;}
.bkg img{width:100%;}*/
/*1. HEADER*/
.header{position:absolute;top:0px;left:0px;width:100%;text-transform: uppercase;background-color: rgba(0,0,0,0.4); font-size:0.875em/* 14pt/16pt */;z-index:5;vertical-align: middle;}
.header li{display:inline-block;float:left;vertical-align: middle}
.header a{display:block;padding:2em 3em}
.search { z-index:3;position:absolute;top:1em;right:7.5%; }
.search input[type="text"]{width:50%;color:rgba(255,255,255,0.7);font-weight:700;background: url('../images/search.png') no-repeat 19px 19px;background-position: 210px 6px;padding:6px 15px 6px 10px;font: 0.875em avenir, san-serif;text-transform: uppercase;border:2px solid #bcbcbc;-moz-border-radius: 5px;-webkit-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px;border-radius: 5px;}
 
/*1.1 menu*/
.menu{width:25.3125%;padding:0px 10% 0px 5.5%;}
.menu li{display:inline-block; /* margin-right: 7.03125% 90px/1280px */;}
.menu li:last-child{margin-right: 0px;}
.menu a{color:rgba(255,255,255,0.7); font-size:0.875em/* 14pt/16pt */; }
.menu a:hover,.menu a:active {color:rgba(255,255,255,1);text-decoration: none;background:rgba(255,255,255,0.15);}
.logo{display:inline-block;margin-right:10%;text-indent: -9999px;padding-top:1em/* 15px/41px */;padding-bottom:1em; }
.logo a{width:64px;height:30px;background-image: url("images/logo.png");padding:0px;}
 
/*1.2 quick-buy*/ 
.quick-buy{margin-right:10.9375%;}
.quick-buy a{color:rgba(255,255,255,0.7); font-size:0.875em/* 14pt/16pt */;font-weight: 700; }
.quick-buy ul{position:absolute;opacity:0;}
.quick-buy  ul li a{color:rgba(255,255,255,0.7);background-color:rgba(0,0,0,0.65);border-left:1px solid rgba(0,0,0,0.9);padding:20px; white-space:nowrap;}
.quick-buy a:hover, quick-buy a:active{color:rgba(255,255,255,1);background:rgba(255,255,255,0.15);text-decoration: none;}
.quick-buy:hover > ul{opacity:1;}
.what-movie:hover ul, .when:hover ul, .what-time:hover ul, .adults:hover ul, .kids:hover ul{opacity:1;}
.quick-buy ul li ul li{display:block;float:none;width:100%;}
.quick-buy .buy-now a{background-color:rgb(240,58,58);color:rgba(255,255,255,1)}

/*1.2 sign-up*/
.sign-up{padding:0.8em 0px;}
.sign-up a{color:rgba(255,255,255,0.45); font-size:0.875em/* 14pt/16pt */;padding:1em 2em; }
.sign-in{background-color: rgba(58,169,240,1);-moz-border-radius: 5px;-webkit-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px;border-radius: 5px; }
.sign-up .sign-in a{color:rgba(255,255,255,1);}


/*2.0 FEATURE-SLIDER*/
.gradient-overlay{position:relative;background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,1) 80%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(80%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,1) 80%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,1) 80%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,1) 80%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,1) 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
#bkg{position:relative;z-index:-1;min-width: 100%}
.feature-slider{position:absolute;top:0px;left:0px;width:100%;height:65.375em;}
.hottest,.coming-soon,.community-promo,.cinema-promo{width:100%;}
.caption{position: absolute;top:55%;left:7.5%;z-index:3;}
.caption h1{font-size: 1.4375em;margin-bottom:2%;text-transform: uppercase;font-weight: 700;}
.caption h2{font-size: 1em; width:70%;line-height: 1.3;font-weight: 300;}
.bx-wrapper .bx-viewport{border:none;box-shadow: none;left: 0px;background-color: #000;}
.movie-slider .bx-wrapper{padding-top: 5em;}
#bx-pager{position:absolute;bottom:25em;left:50%;margin-left: -15%;width:30%;}
#bx-pager a{font-size:1.2em;color:rgba(255,255,255,0.7);padding:10px 15px;border: 2px solid rgba(255,255,255, 0.7);margin-right: 1%;}
#bx-pager a:hover{color:rgba(255,255,255,1);background-color: rgba(255,255,255,0.3);text-decoration: none;}
#bx-pager a:active{text-decoration: none; border:none;background:none;}
.buttons{position:absolute;background-color: none;top:68%;left:7.5%;z-index:3;}
.buttons a{color:rgba(255,255,255,1);margin-right: 0%;font-size: 1.2em;text-transform: uppercase;font-weight: 700;opacity:.5;}
.buttons a:hover{opacity:1;text-decoration: none;}
.buttons .trailer span{height:49px;width:87px;background-image:url("images/trailer.png");display:inline-block;position:relative;bottom:1.5em;left:28%;}
.buttons .buy span{height:77px;width:87px;background-image:url("images/ticket.png");display:inline-block;position:relative;bottom:1.5em;left:25%; }


/*2.0 MOVIE-SLIDER*/
.movie-slider{position:relative; top:-10em; width:92.5%; padding-left: 7.5%}
.movie-slider li{display:inline-block;}
#tabs > ul{margin-bottom: 2%;position:absolute;z-index:10;}
/*#tabs > ul > li{width:7%;}*/
.now-showing li{position:relative;width:10%;background-color: #000;}
#tabs img{width:100%;opacity:0.4;}
#tabs img: hover{opacity:1;}
#tabs button{position:absolute;bottom:0.5em;left:50%;}
#tabs a{font-size:1.2em;color:rgba(255,255,255,0.2);padding:10px 15px;border-bottom: 2px solid rgba(255,255,255, 0.2)}
#tabs a:hover, #tabs a:active{color:rgba(255,255,255,1);background-color: rgba(255,255,255,0.18);text-decoration: none; border-bottom:none;}
#tabs ul li > ul{position:absolute;opacity:0;top:2.8em;}
#tabs ul li ul li a{color:rgba(255,255,255,0.7);background-color:none;border:1px 0px 1px 1px solid rgba(255,255,255,0.9);padding:5px 10px; white-space:nowrap;}
#tabs ul li ul li a:hover{color:rgba(255,255,255,1);background:rgba(255,255,255,0.15);text-decoration: none;}
#tabs > ul li:hover > ul{opacity:1;}
#tabs .filter{top:1.4em;}
.filter li{display:block;margin-top: 1.4em;}
#tabs .filter li a{border:none;}


/*4.0 community*/
.community{position:relative; width:92.5%; padding-left: 7.5%; margin-bottom: 3em}
.social{float:left; width:55%;margin-bottom: 3em}
.social h2, .the-experience h2{font-size:1.2em; margin-bottom: 1em;}
.social h3{font-size: 1em; font-weight:100;margin-bottom: 1.5em; }
.social p, .the-experience p, .the-experience ol{font-size:0.8em;margin-bottom: 1em;line-height: 1.3;}
.social li{display:inline-block; width:25%;background: rgba(41,48,50, .7);padding:1.2em;margin-right: 1.5%;height:8em;}
.facebook,.twitter,.instagram{text-transform: capitalize;}
.facebook span{display: inline-block; width:33px;height:33px;background-image:url("images/fb(h).png");margin-right: 2%;vertical-align: middle;}
.twitter span{display: inline-block; width:33px;height:33px;background-image:url("images/twt(h).png");margin-right: 2%;vertical-align: middle;}
.instagram span{display: inline-block; width:33px;height:33px;background-image:url("images/inst(h).png");margin-right: 2%;vertical-align: middle;}
.the-experience{float:left;width:25%;margin-bottom: 3em}
.the-experience ol li{margin-bottom: 0.5em;}
.the-experience > li{width:100%;background: rgba(41,48,50, .7);padding:1.2em;}
.the-experience > li > p > button{color:rgba(255,255,255,1);background-color: rgb(240,58,58);-moz-border-radius: 4px;-webkit-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px;border:none;font-size:1em;padding:0.5em 1em;margin-left: 2% }
.like-buttons p{display:inline;}


 #tab2{display:none;}